/* Custom styles */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  header {
    margin-bottom: 50px;
  }
  
  .navbar-brand {
    font-size: 2rem;
  }
  
  article {
    max-width: 800px;
    margin: 0 auto;
  }
  
  img {
    max-width: 100%;
  }
  
  footer {
    margin-top: 50px;
  }
  